@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Body properties */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  /* background-color: rgba(217, 247, 171, 0.5); */
  /* Show stacked background repeat in mobiles */
  background: url("./assets/images/background.jpg") repeat-y;
}

@media screen and (min-width: 500px) {
  /* Show fixed single background image in desktops */
  body {
    background-image: url("./assets/images/species.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

/* End Body Properties */

/* Navigation Bar */
.nav-container {
  background-color: bisque;
  height: 20vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.nav-container > * {
  padding: 1%;
  margin-left: 2%;
}
.nav-text {
  display: none;
}
.nav-text a {
  text-decoration: none;
}
.nav-image {
  height: 50%;
  flex: 0 0 90%; /* make nav-links go new line */
  object-fit: contain;
}
.nav-link {
  text-decoration: none;
  padding: 2% 1%;
}
.nav-link:hover,
.nav-link:focus,
.nav-active {
  border-bottom: lawngreen 4px solid;
}

/* Tablet  */
@media screen and (min-width: 500px) {
  .nav-container {
    /*making nav all in one line*/
    flex-wrap: nowrap;
    height: 15vh;
  }
  .nav-image {
    height: 90%;
    flex: 0 0 auto;
  }
}

/* Desktop  */
@media screen and (min-width: 1000px) {
  .nav-text {
    display: block;
  }
}

/* Start Grid System */
.container {
  display: flex;
  flex-flow: row wrap;
}
.card {
  margin: 4% 0% 0% 4%;
  flex: 0 0 92%;
  text-align: center;
  border: 1px solid greenyellow;
  border-radius: 5px;
  background-color: rgba(255, 228, 196, 0.8);
  box-shadow: -2px 2px 2px #888888;
}

/* Tablet  */
@media screen and (min-width: 500px) {
  .card {
    flex: 0 0 44%;
  }
}

/* Desktop  */
@media screen and (min-width: 1000px) {
  .card {
    flex: 0 0 28%;
  }
}
/* End Grid System */

/* Individual Card for films  */
.card-wrapper {
  padding: 2%;
  /* a node is placed between card and its content for padding */
}
.card h2 {
  margin: 0;
  font-size: 120%;
  background-image: linear-gradient(to right, lightblue, yellow);
}
.card p {
  line-height: 120%;
  text-align: justify;
}
.card strong,
.card i {
  display: block;
  margin-bottom: 0.5%;
}

/* Adjustments for Locations */
.location-table {
  width: 100%;
  text-align: left;
}
.location-table td:first-child {
  width: 50%;
  border-right: 2px dashed slateblue;
}

/* Adjustments for people cards */
.person strong {
  display: inline;
  color: #1b9417;
  font-size: 140%;
}
.person p {
  text-align: center;
}

/* Adjustments for Species Card */
.species table {
  width: 100%;
}
.species thead span {
  color: #8311b8;
  font-weight: bold;
  font-size: 130%;
}
.species tbody td:first-child {
  width: 50%;
  text-align: right;
}
.species tbody td:nth-child(2) {
  text-align: left;
  font-weight: 700;
}
.species tbody span {
  color: #1b9417;
  font-weight: 700;
}
.species tbody td {
  border-bottom: 1px solid lightslategray;
}

/* Footer  */
footer {
  margin-top: 4%;
  padding: 1%;
  background-color: bisque;
}
footer p {
  text-align: center;
  margin: 0;
}

/* Misc */
.loading {
  margin: auto;
}
